.journal__entry {
  background-color: white;
  border-radius: 4px;
  color: $dark-grey;
  overflow: hidden;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 100px 1fr 0.3fr;
  .journal__entry-picture {
    height: 90px;
    width: 90px;
    background-size: cover;
    background-position: center;
    background-repeat: none;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .journal__entry-body {
    padding: 10px;
  }
  .journal__entry-title {
    font-size: 16px;
    font-weight: bold;
  }
  .journal__entry-content {
    font-size: 12px;
  }

  .journal__entry-date-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    font-size: 14px;
  }
}
