.auth__container {
  max-width: 260px;
}

.form__control {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  min-width: 260px;

  input,
  button {
    border: 0.8px solid $dark-grey;
    border-radius: 2px;
    padding: 4px 12px;
  }
  button {
    margin-top: 10px;
    background-color: $primary;
    color: white;
    border: none;
    transition: all ease-in 0.3s;

    &:hover {
      background-color: darken($color: $primary, $amount: 30);
    }
    &:disabled {
      background-color: desaturate($color: $primary, $amount: 30);
    }
  }
}
.google__login {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary;
    border: none;
    box-shadow: $shadow;
    transition: all ease-in 0.3s;

    &:hover {
      background-color: darken($color: $primary, $amount: 30);
    }

    picture {
      width: 36px;
      background-color: white;
      display: flex;
      align-items: center;

      img {
        width: 100%;
      }
    }

    p {
      padding: 8px;
      font-size: 0.95rem;
      color: white;
    }
  }
}

.create__account {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.alert {
  margin-top: 10px;
  padding: 10px;
  border-radius: 2px;
  font-size: 13px;
  text-align: center;
  color: white;

  .alert-title {
    font-weight: bold;
  }
}

.alert-danger {
  background-color: $red;
}
